.themeForm
  width: 80%
  margin: 1px // 枠が消えるのを阻止するため
  padding: 0 10% 0 10%  // 上右下左

.custom-input
  width: 100%
  font-size: 20px
  color: black
  caret-color: black
  padding: 10px



.hint 
  position: absolute;
  font-size: 20px;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  padding: 10px;
  //border: 2px solid #000000;


.themeFormString
  font-size: 20px;
